<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- boostrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
    <!-- css -->
    <link rel="stylesheet" href="css/estilos.css" />
  </head>
  <body>
    <!-- header -->
    <ul class="container nav nav-tabs header">
      <a class="navbar-brand" href="/">Navbar</a>
      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Menú</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/profile">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Productos</a></li>
          <li><a class="dropdown-item" href="/cart">Carrito</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">logout</a></li>
        </ul>
      </li>
    </ul>
    <!-- main -->
    <main class="main container">
      <h1>Productos</h1>
      <section class="main__products">
        <section class="main__filter">
          <p class="m-0">FILTRO</p>
          <form class="d-flex" action="" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchName">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <form action="" method="get">
            <label for="inputRange" class="form-label">Precio máximo: $<span id="renderMaxPrice"></span></label>
            <input type="range" class="form-range" min="1" max="1000" id="inputRange" name="maxPrice" value="<%= value %>">
            <button type="submit" class="btn btn-success">Filtrar</button>
            <a href="/products" class="btn btn-dark">Reset Filtro</a>
          </form>
        </section>
        <section class="main__products-container">
          <% if (searchProducts.length != 0) { %>
            <% searchProducts.forEach(element => { %>
              <figure class="card col">
                <img src="<%= element.thumbnail %>" alt="<%= element.title %>" class="card-img-top">
                <div class="card-body">
                  <h5><%= element.title %></h5>
                  <p class="card-text">$<%= element.price %></p>
                  <a href="/detail/<%= element._id %>" class="btn btn-primary">Ver producto</a>
                </div>
              </figure>
            <% }); %>
          <% } else { %>
            <p>No se encontró el producto</p>
          <% } %>
        </section>
      </section>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
