<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- boostrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
    <!-- css -->
    <link rel="stylesheet" href="css/estilos.css" />
  </head>
  <body>
    <!-- header -->
    <ul class="container nav nav-tabs header">
      <a class="navbar-brand" href="/">Navbar</a>
      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Menú</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/products">Productos</a></li>
          <li><a class="dropdown-item" href="/cart">Carrito</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">logout</a></li>
        </ul>
      </li>
    </ul>
    <!-- main -->
    <div class="container mt-3">
      <div class="alert alert-success profile__hero">
        <h1 class="mb-2">Hola, <span id="owner"><%= name %></span></h1>
      </div>
      <section>
        <p>Ubicación: <%= location %></p> <p>Teléfono/celular: <%= phone %></p>
        <img src="<%= avatar %>" alt="avatar de: <%= name %>">
        <div>
          <code>Usuario creado: <%= createdAt %></code>
        </div>
      </section>
    </div>
  </body>
</html>